body{
	background: url(resources/images/wallpaper.png) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

/*.welcome {
	color: whitesmoke;
	padding: 20%;
	
	position: absolute;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	text-shadow: 3px 6px 15px black;


}
h3.welcome {
    color: whitesmoke;
    text-shadow: 3px 6px 15px black;
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a{
	text-decoration: none;
}
*/

